<div class='inventory-card container-fluid my-3'>
<div class='row'>
  <div class='col-2 text-center'>
    <%= inventory.name %><br />
    <span><small>REMOVE</small></span>
  </div>
  <div class='col-10'>
    <%= inventory.description %>
  </div>
</div>
</div>
