<div class='container-md'>
  <div class='row mt-5'>
    <div class='col'></div>
    <div class='col-6'>
      <h2 class='text-center'><%= @inventory.name %></h2>
    </div>
    <div class='col align-self-end'>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFoodModal">+ Add Food</button>
    </div>
  </div>
  <hr />
  <table class='table'>
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
  </table>
</div>

<%= render partial: 'inventories/partials/add_food_modal' %>
