<section>
    <h1> <%= @list > </h1>
    <div>
        <p>Amount of Food to buy: 2</p>
        <p>Recipe: Recipe 2</p>
        <p>Total value of food needed: $23</p>
        <p>Inventory: Inventory 1</p>
    </div>
    <div>
        <div>
            <h4>Food</h4>
            <h4>Quantity</h4>
            <h4>Price</h4>
        </div>
        <div>
            <p>Apple</p>
            <p>10 grams</p>
            <p>$20</p>
        </div>
        <div>
            <p>Pineapple</p>
            <p>3 grams</p>
            <p>$3</p>
        </div>
    </div>
</section>